Author @ Amartya | Nasa International Space App Challenge 2020

In [9]:
import plotly.graph_objects as go

import pandas as pd

df = pd.read_csv('./SUOMI_VIIRS_C2_Global_7d.csv')

In [10]:
df

        latitude  longitude  bright_ti4  ...  bright_ti5   frp daynight
0      -31.72269   26.84403       302.1  ...       273.3   1.0        N
1      -32.56054   28.52042       296.4  ...       279.6   0.8        N
2      -32.64801   25.35258       297.5  ...       272.9   0.8        N
3      -32.65283   25.34783       295.8  ...       269.8   0.8        N
4      -32.65307   25.35099       308.3  ...       270.7   0.8        N
...          ...        ...         ...  ...         ...   ...      ...
596026  -7.24755   39.01584       339.2  ...       295.7   1.8        D
596027  -7.51108   36.94795       338.0  ...       300.2   4.4        D
596028  -7.84851   34.17260       354.9  ...       308.5  31.5        D
596029  -7.84936   34.16545       348.8  ...       304.5  15.4        D
596030  -7.85023   34.15806       343.8  ...       302.8  15.4        D

[596031 rows x 13 columns]

In [11]:
df['text'] = 'Date and Time:' + df['acq_date'].astype(str) + ':' + df['acq_time'].astype(str) + ', ' + df['satellite'].astype(str) + ', ' + df['daynight'].astype(str)

In [13]:
df['text']

0            Date and Time:2020-09-27:0, N, N
1            Date and Time:2020-09-27:0, N, N
2            Date and Time:2020-09-27:0, N, N
3            Date and Time:2020-09-27:0, N, N
4            Date and Time:2020-09-27:0, N, N
                         ...
596026    Date and Time:2020-10-04:1012, N, D
596027    Date and Time:2020-10-04:1012, N, D
596028    Date and Time:2020-10-04:1012, N, D
596029    Date and Time:2020-10-04:1012, N, D
596030    Date and Time:2020-10-04:1012, N, D
Name: text, Length: 596031, dtype: object

In [17]:
fig = go.Figure(data=go.Scattergeo(
        locationmode = 'USA-states',
        lon = df['longitude'],
        lat = df['latitude'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = 'Blues',
            cmin = 0,
            color = df['bright_ti4'],
            cmax = df['bright_ti4'].max(),
            colorbar_title="Incoming flights<br>February 2011"
        )))

In [18]:

fig.update_layout(
        title = 'Most trafficked US airports<br>(Hover for airport names)',
        geo = dict(
            scope='usa',
            projection_type='albers usa',
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5
        ),
    )

In [19]:

fig.show()